@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Unbounded:wght@800&display=swap');

body {
	display: flex;
	flex-direction: column;
	background-color: rgb(31, 41, 55);
	margin: 0;
	padding: 0;

	width: 100vw;
	min-width: 950px;
	height: 100vh;
	min-height: 720px;

	font-family: 'Roboto Mono', monospace;
}

.title {
	width: 100vw;
	height: 130px;

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Unbounded', cursive;
	font-size: 80px;
	margin-top: 30px;
}

.score {
	display: none;
	position: absolute;
	justify-content: center;

	width: 100%;
	top: 23%;
	z-index: 1;

	color: white;
	text-align: center;
	font-size: 40px;
	transition: all 1s;
}

.restart {
	display: none;
	position: absolute;
	justify-content: center;

	width: 100%;
	bottom: 15%;
	transform: scale(.85);
	transition: all 1s;
}

// Endgame stylization
.game-container.shrink {
	transform: scale(.6);
}

.winner {
	box-shadow: 0px 0px 29px 5px rgb(255, 255, 255);
}
// </Endgame stylization>

.game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;

	width: 100vw;
	height: 100%;
	color: white;
	transition: transform 1s;


	.left,
	.right {
		display: flex;
		align-items: center;

		width: 50vw;
		height: 500px;
		margin-top: -2%;
	}

	.left {
		justify-content: end;
	}
	.right {
		justify-content: start;
	}

	.options {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-shrink: 0;
		gap: 20px;

		width: 380px;
		height: 500px;
		text-align: center;
		font-size: 33px;
		line-height: 52px;

		.rotate-instruction {
			height: 135px;
			border-bottom: 2px solid white;
		}

		.random-deployment {
			display: flex;
		}
	}
}

.board {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;

	width: 400px;
	height: 400px;
	border: solid 1px white;

	.row {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}
}

.square {
	flex-grow: 1;
	border: solid 1px white;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 70px;
	width: 100vw;
	margin-bottom: 5px;

	text-align: center;
	font-size: 15px;
	color: rgb(200, 200, 200);
}

#github {
	height: 27px;
	width: 27px;
	padding-bottom: 0.2vh;
	transition: 0.3s;
}

#github:hover {
	transform: scale(1.1);
}

// Button from https://dev.to/webdeasy/top-20-css-buttons-animations-f41
// author jemware. Adjusted a bit to my own needs.
.button {
	position: relative;
	display: inline-block;
	margin: 25px 10px 0 10px;

	width: 190px;
	transform: scale(.83);
	line-height: 21px;
}

.button a {
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	background-color: rgb(181, 94, 75);
	display: block;
	position: relative;
	padding: 20px 40px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-shadow: 0px 1px 0px #000;
	filter: dropshadow(color=#000, offx=0px, offy=1px);

	-webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 8px 0 #6e3e00;
	-moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 8px 0 #6e3e00;
	box-shadow: inset 0 1px 0 #ffe5c4, 0 8px 0 #6e3e00;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button a:active {
	top: 10px;
	background-color: rgb(181, 94, 75);

	-webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
	-moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
	box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button.start a,
.button.start a:active,
.button.restart-btn a,
.button.restart a:active {
	background-color: #c31212;
}

.button:after {
	content: '';
	height: 100%;
	width: 100%;
	padding: 4px;
	position: absolute;
	bottom: -15px;
	left: -4px;
	z-index: -1;
	background-color: #2b1800;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
